body {
  background-image: url("kuva.jpg");
  background-size: 1000px;
  background-color: #cccccc;
  padding: 5em;
}

.laatikko {
  height: 400px;
  width: 400px;
  background-color: yellow;
  padding-top: 2em;
  padding-left: 3em;
  position: relative;
  overflow: visible;
}

h2 {
  font-weight: 500;
}
